.scrollableContainer {
  position: relative;
}

.mainContainer {
  h3 {
    text-align: start;
    color: #004F98;
  }
}

.gridsContainer {
  grid-gap: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.newsContainer {
  display: flex;
  gap: 8px;
}

.list {
  display: flex;
  overflow-x: auto;
  list-style: none;
  padding: 0;
  margin: 0;
}

.list::-webkit-scrollbar {
  margin-bottom: 5px;

  width: 5px;
  background-color: rgba(26, 24, 47, 0.15);
  border-radius: 5px;
  height: 4px;
}

.list::-webkit-scrollbar-thumb {
  margin-bottom: 5px;

  background: #004F98;
  border-radius: 15px;
}

.item:not(:last-child) {
  margin-bottom: 5px;

  margin-right: 1em;
}