.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 8px;
}

.headerContainer {
  max-width: 1300px;
}

.logoText {
  display: flex;
  align-items: center;

  font: Montserrat Black;
  font-size: 30px;
  font-weight: 900;

  margin-top: 0px;
  margin-bottom: 0px;

  .opeColor {
    color: #004f98;
  }

  .twoColor {
    color: #74b5f4;
  }
}

.links {
  gap: 16px;
  font-size: 16px;
  display: flex;
  align-items: center;

  a {
    cursor: pointer;
    color: #004f98;
  }
}