.footerContainer {
  display: flex;
  flex-direction: column;

  flex: 1;
  justify-content: end;

  img {
    max-width: 1300px;
    width: 100%;

    position: absolute;
  }
}

.aboutContainer {
  z-index: 2;
  margin-top: 13%;
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  .info {
    font-size: 16px;

    display: flex;
    align-items: center;
    gap: 32px;

    span {
      font-size: 18px;
      color: #004f98;
    }
  }

}

.prods {
  text-align: end;
  color: #004f98;

  pre {
    margin-top: 0px;
    font-size: 6px;
  }
}