.footerContainer {
  display: flex;
  flex-direction: column;

  img {
    max-width: 1300px;
    width: 100%;

    position: absolute;
  }
}

.aboutContainer {
  z-index: 2;
  margin-top: 13%;
  gap: 16px;
  display: flex;
  align-items: end;
  justify-content: center;

  .info {
    font-size: 16px;

    display: flex;
    align-items: center;
    gap: 32px;
  }
}
