.hair {
  display: flex;
  gap: 352px;


  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #004F98;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
  }

  img {
    position: fixed;
    margin-left: 133px;

    width: 130px;
    height: 130px;
  }

  svg {
    fill: #004F98;
  }
}

.jacet {
  display: flex;
  gap: 32px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #004F98;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
  }

  img {
    margin-top: 48px;

    width: 240px;
    height: 240px;
  }

  svg {
    fill: #004F98;
  }
}

.leg {
  display: flex;
  gap: 32px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #004F98;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
  }

  img {
    margin-top: 48px;

    width: 240px;
    height: 240px;
  }

  svg {
    fill: #004F98;
  }
}


.svgHair {

  position: absolute;
  margin-bottom: 30px;
  margin-left: 55px;

  width: 130px;
  height: 130px;
}

.svgJacet {
  position: absolute;
  margin-top: 275px;
  margin-left: 55px;

  width: 240px;
  height: 240px;
}

.svgLeg {
  position: absolute;
  margin-top: 673px;
  margin-left: 13px;

  width: 380px;
  height: 380px;
}

.buttonContainer {
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 100px;


  position: absolute;
}

.humanContainer {
  position: absolute;
  margin-left: 200px;
}

.humanConst {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}