.mainContainer {
    display: flex;
    flex-direction: column;

    gap: 32px;
    height: 100vh;
}

.container {
    max-width: 650px;

    padding: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;

    border: 2px solid #004F98;
    border-radius: 15px;
}

.info {
    display: flex;
    gap: 64px;

    .infoOrganaiz {
        text-align: start;

        h3 {
            font-size: 38px;
            color: #004F98;
            margin-bottom: 5px;
        }

        span {
            font-size: 28px;
            color: #004F98;
        }
    }
}