.mapContainer {
  margin-top: 64px;

  pre {
    position: absolute;
    text-wrap: wrap;
    text-align: start;
    margin-left: 500px;
    width: 700px;
    font-size: 20px;

    color: #004f98;
  }
}