.registerInput {
  width: 600px;

  label {
    color: #7CBCFBB2;
  }

  input {
    background-color: #E9F3FEB2;
  }

  display: flex;
  flex-direction: column;
  gap: 8px;

  .subInput {
    gap: 16px;
    display: flex;

    .inputGrupp {
      width: 100%;
    }
  }
}


.bigInput {
  background-color: #E9F3FEB2;

}