#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;

  min-height: 100vh;
  padding: 0;
  margin: 0 auto;
}

.appMain {
  max-width: 1300px;
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
